<div>
    <h1 class="greetText">Greeting</h1>

    <form action="/greetings" method="POST">

        <label for="name">
            <input type="text" name="name" id="name">
           
          
        </label>
          <p>{{greetUser}}</p>
        <label class="">
            <input type="radio" name="languageRadio" class="languageRadio" value="english">
            <span class="label-body">English</span>
        </label>
        <label class="">
            <input type="radio" name="languageRadio" class="languageRadio" value="isixhosa">
            <span class="label-body">Isixhosa</span>
        </label>
        <label class="">
            <input type="radio" name="languageRadio" class="languageRadio" value="sepedi">
            <span class="label-body">Sepedi</span>
        </label>


        <div>
            <button class="button" type="submit">Greet</button>
        </div>

    </form>
  

    <form action="" method="post">
        <button class="button" type="submit">Reset</button>
    </form>
</div>